{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <main class="catalog">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title">Каталог товаров</h1>
            </div>
            <aside class="catalog-aside">
                <div class="catalog-aside-bg"></div>
                <button type="button" class="catalog-stats__filters-btn" aria-label="открыть боковые фильтры">
                    <img src="{% static 'img/icon-filter.png' %}" alt="фильтр">
                    <span>Фильтры</span>
                </button>
                <div class="catalog-aside-inner">
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки по бюджетам:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки к праздникам:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки по году рождения:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки на памятные события:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки путешественникам:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки по темам:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section">
                        <h2 class="filter-group__title">Подарки по профессиям:</h2>
                        <ul class="filters-group">
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 10 000 до 30 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 30 000 до 60 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 60 000 до 120 000 руб.</span>
                                </label>
                            </li>
                            <li class="filters-group__item filters-item">
                                <label class="filters-item__label">
                                    <input type="checkbox" name="price" class="filters-item__checkbox">
                                    <span class="filters-item__pseudocheckbox"></span>
                                    <span class="filters-item__text">от 120 000 до 300 000 руб.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="catalog-main">
                <div class="catalog-stats">
                    <p class="catalog-stats__count">Найдено: 3786</p>
                    <div class="ordering-wrapper">
                        <select class="catalog-stats__ordering">
                            <option value="date">По дате: от новых к старым</option>
                            <option value="date">По дате: от старых к новым</option>
                            <option value="date">По дате: по цене</option>
                        </select>
                    </div>
                </div>
                <div class="catalog-stats__active-filters active-filters">
                    <span class="active-filters__item">
                        <button type="button" class="delete" aria-label="убрать фильтр От 60 000 до 120 000 руб.">
                            <span></span>
                            <span></span>
                        </button>
                        <span class="text">От 60 000 до 120 000 руб.</span>
                    </span>
                    <span class="active-filters__item">
                        <button type="button" class="delete" aria-label="убрать фильтр От 60 000 до 120 000 руб.">
                            <span></span>
                            <span></span>
                        </button>
                        <span class="text">Второй активный фильтр</span>
                    </span>
                    <span class="active-filters__item">
                        <button type="button" class="delete" aria-label="убрать фильтр От 60 000 до 120 000 руб.">
                            <span></span>
                            <span></span>
                        </button>
                        <span class="text">Еще какой то фильтр</span>
                    </span>
                </div>
                <ul class="products-group">
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                    <li class="products-group__item">
                        <a href="product.html" class="product__thumb product-thumb">
                            <img src="{% static 'img/p-1.jpg' %}" alt="антикварные вещи" loading="lazy" class="product-thumb__img">
                        </a>
                        <h3 class="product__title product-title">
                            <a href="product.html" class="product-title__link">Декоративные часы с цветочной росписью и камнями</a>
                        </h3>
                        <div class="product__controls product-controls">
                            <div class="product-controls__price">
                                <ins>40 000 $</ins>
                                <del>58 000 $</del>
                            </div>
                            <button type="button" class="product-controls__add-to-cart add-to-cart" aria-label="добавить декоративные часы с цветочной росписью и камнями в корзину"></button>
                        </div>
                    </li>
                </ul>
                <ul class="pagination">
                    <li class="pagination__item pagination-item">
                        <a href="index.html" class="pagination-item__link" aria-label="предыдущая страница"></a>
                        <!-- <span class="pagination-item__text" aria-label="предыдущая страница"></span> -->
                    </li>
                    <li class="pagination__item">
                        <a href="index.html" class="pagination-item__link" aria-label="следующая страница"></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- /.catalog -->
    <section class="features">
        <div class="container">
            <div class="features__row">
                <div class="features-images">
                    <div class="thumb">
                        <img src="{% static 'img/gift-1.jpg' %}" alt="антикварные вещи" class="features-images__img">
                    </div>
                    <div class="thumb">
                        <img src="{% static 'img/gift-2.jpg' %}" alt="антикварные вещи" class="features-images__img">
                    </div>
                </div>
                <div class="features-text">
                    <div class="section-header">
                        <h2 class="section-header__title">Раритетные подарки и антикварные суверины</h2>
                        <p class="section-header__subtitle">старательно собраны в нашем каталоге</p>
                    </div>
                    <p class="features-text__p">
                        Каждая уходящая эпоха оставляет после себя уникальное материальное наследие. Эти раритетные вещи, составляющие культурный пласт прошлого и вдохновляющие последующие поколения на новые изобретения, по сути, являются лишь усовершенствованными копиями своих первоисточников.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.features -->
    <section class="consulting">
        <div class="container">
            <div class="section-header">
                <div class="section-header__title">
                    Получите консультацию <em>по подбору подарка</em>
                </div>
            </div>
            <a href="#" class="consulting-link">+38 099 999 99 99</a>
        </div>
    </section>
    <!-- /.consulting -->
{% endblock %}