{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <main class="catalog">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title">Каталог товаров</h1>
            </div>
            {% include 'product/filters.html' %}
            <div class="catalog-main">
                <div class="catalog-stats">
                    <p class="catalog-stats__count">Найдено: {{ count }}</p>
                    <div class="ordering-wrapper">
                        <select class="catalog-stats__ordering">
                            <option value="date">По дате: от новых к старым</option>
                            <option value="date">По дате: от старых к новым</option>
                            <option value="date">По дате: по цене</option>
                        </select>
                    </div>
                </div>
                <div class="catalog-stats__active-filters active-filters"></div>
                <div class="products-group-wrapper">
                    {% include 'product/list_tag.html' %}
                </div>
            </div>
        </div>
    </main>
    <!-- /.catalog -->
    <section class="features">
        <div class="container">
            <div class="features__row">
                <div class="features-images">
                    <div class="thumb">
                        <img src="{% static 'img/gift-1.jpg' %}" alt="антикварные вещи" class="features-images__img">
                    </div>
                    <div class="thumb">
                        <img src="{% static 'img/gift-2.jpg' %}" alt="антикварные вещи" class="features-images__img">
                    </div>
                </div>
                <div class="features-text">
                    <div class="section-header">
                        <h2 class="section-header__title">Раритетные подарки и антикварные суверины</h2>
                        <p class="section-header__subtitle">старательно собраны в нашем каталоге</p>
                    </div>
                    <p class="features-text__p">
                        Каждая уходящая эпоха оставляет после себя уникальное материальное наследие. Эти раритетные вещи, составляющие культурный пласт прошлого и вдохновляющие последующие поколения на новые изобретения, по сути, являются лишь усовершенствованными копиями своих первоисточников.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.features -->
    <section class="consulting">
        <div class="container">
            <div class="section-header">
                <div class="section-header__title">
                    Получите консультацию <em>по подбору подарка</em>
                </div>
            </div>
            <a href="#" class="consulting-link">+38 099 999 99 99</a>
        </div>
    </section>
    <!-- /.consulting -->
{% endblock %}