{% load static %}
{% load thumbnail %}
{% if products.count %}
    <ul class="products-group" data-count="{{ count }}">
        {% for product in products %}
            <li class="products-group__item">
                <a href="{{ product.get_absolute_url }}" class="product__thumb product-thumb">
                    {% if product.photos.first %}
                        <img src="{{ product.photos.first.file|thumbnail_url:'medium' }}" alt="{{ product.photos.first.alt }}" loading="lazy" class="product-thumb__img">
                    {% else %}
                        <img src="{% static 'img/no-image.jpg' %}" alt="картинка" loading="lazy" class="product-thumb__img">
                    {% endif %}
                </a>
                <h3 class="product__title product-title">
                    <a href="{{ product.get_absolute_url }}" class="product-title__link">{{ product.name }}</a>
                </h3>
                <div class="product__controls product-controls">
                    <div class="product-controls__price">
                        {{ product.get_price_html|safe }}
                    </div>
                    {% include 'form/archive-add-to-cart.html' %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include 'product/pagination.html' with page=products %}
{% else %}
    <div class="nothing-found">
        <img src="{% static 'img/empty.png' %}" width="512" height="512" alt="увеличительно скло">
        <p>По Вашему запросу товаров не найдено...</p>
    </div>
{% endif %}