{% extends 'layout/base.html' %}
{% block title %}{% firstof title 'Главная' %}{% endblock %}
{% block content %}
    <main class="catalog">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title">{% firstof title 'Каталог товаров' %}</h1>
            </div>
            {% include 'product/filters.html' %}
            <div class="catalog-main">
                <div class="catalog-stats">
                    <p class="catalog-stats__count">Найдено: <span id="product-count">{{ count }}</span></p>
                    <div class="ordering-wrapper">
                        <select class="catalog-stats__ordering" name="order">
                            <option value="date-desc">По дате: от новых к старым</option>
                            <option value="date-asc"{% if request.GET.order == 'date-asc' %} selected {% endif %}>По дате: от старых к новым</option>
                            <option value="price-asc"{% if request.GET.order == 'price-asc' %} selected {% endif %}>По возростанию цены</option>
                            <option value="price-desc"{% if request.GET.order == 'price-desc' %} selected {% endif %}>По убыванию цены</option>
                        </select>
                    </div>
                </div>
                <div class="catalog-stats__active-filters active-filters"></div>
                <div class="products-group-wrapper">
                    {% include 'product/list_tag.html' %}
                </div>
            </div>
        </div>
    </main>
    <!-- /.catalog -->
    {% include 'section/features.html' %}
    {% include 'section/consulting.html' %}
{% endblock %}