{% load static %}
<section class="features">
    <div class="container">
        <div class="features__row">
            <div class="features-images">
                <div class="thumb">
                    <img src="{% static 'img/gift-1.jpg' %}" alt="антикварные вещи" class="features-images__img">
                </div>
                <div class="thumb">
                    <img src="{% static 'img/gift-2.jpg' %}" alt="антикварные вещи" class="features-images__img">
                </div>
            </div>
            <div class="features-text">
                <div class="section-header">
                    <h2 class="section-header__title">Раритетные подарки и антикварные суверины</h2>
                    <p class="section-header__subtitle">старательно собраны в нашем каталоге</p>
                </div>
                <p class="features-text__p">
                    Каждая уходящая эпоха оставляет после себя уникальное материальное наследие. Эти раритетные вещи, составляющие культурный пласт прошлого и вдохновляющие последующие поколения на новые изобретения, по сути, являются лишь усовершенствованными копиями своих первоисточников.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /.features -->